@use "sass:math";

@function pxToRem($px){
    @return math.div($px, 16px) * 1rem;
}

$black1: #0B0B0B;

$purple: hsl(259, 100%, 65%);
$red: hsl(0, 100%, 67%);

$white: hsl(0, 0%, 100%);
$off-white: hsl(0, 0%, 94%);
$light-grey: hsl(0, 0%, 86%);
$smokey-grey: hsl(0, 1%, 44%);
$off-black: hsl(0, 0%, 8%);


/* simple css reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: inherit;
}

/* */
body {
    font-family: "Poppins", sans-serif;
    font-size: pxToRem(32px);
    font-weight: 500;
    min-height: 100vh;
    padding: pxToRem(88px) pxToRem(16px);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $off-white;

    main {
    
    }
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: pxToRem(22px) pxToRem(22px) pxToRem(99px) pxToRem(22px);
    padding: pxToRem(42px) pxToRem(24px);
    max-width: pxToRem(760px);
    gap: pxToRem(32px);

    overflow: hidden;
    background-color: $white;

    form {
        display: flex;
        gap: pxToRem(16px);

        label {
            font-size: pxToRem(12px);
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $smokey-grey;

            display: flex;
            flex-direction: column;
            gap:pxToRem(2px);

            input, select{
                font-size: pxToRem(18px);
                width: 100%;
                border: 1px solid $light-grey;
                border-radius: pxToRem(8px);
                padding: pxToRem(12px) pxToRem(12px);
            }
        }
    }

    .divider {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        hr {
            position: absolute;
            top: 50%;
            width: 100%;
            
            background-color: $light-grey; 
            height: 1px; 
            border: 0;
        }

        button {
            position: relative;

            background-color: $purple;
            border-radius: 50%;
            border: none;

            width: pxToRem(64px);
            aspect-ratio: 1 / 1;
            padding: pxToRem(12px);

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 65%;
                aspect-ratio: 1 / 1;
            }
        }
    }

    .results {
        font-weight: 800;
        font-size: pxToRem(48px);
        font-style: italic;
        line-height: 110%;

        span {
            color: $purple
        }
    }
}

